mixin header
	header.header
		.container
			a.open-btn(href='#')
				i.fa.fa-bars
			nav.nav
				ul.nav-list.main_menu
					li.nav-list__item
						a.nav-list__item-link(href='#') Купить билет
					li.nav-list__item
						a.nav-list__item-link(href='#') О выставке
					li.nav-list__item
						a.nav-list__item-link(href='#') Фотографии
					li.nav-list__item
						a.nav-list__item-link(href='#') Партнеры