mixin section_partners
    section.partners
        .section__container.partners__container
            .partners__title
                img(src="%=static=%img/general/11.png", alt="").partners__title-img

            ul.partners__gen.partners__list
                li.partners__gen-item.partners__item
                    p.partners__gen-title.partners__item-title Генеральный<br>партнер
                    a.partners__gen-link.partners__item-link(href="#" target="_blank")
                        img.partners__gen-img(src="%=static=%img/content/partner_gazprom.svg", alt="")
                li.partners__gen-item.partners__item
                    p.partners__gen-title.partners__item-title Генеральный страховой <br>партнер
                    a.partners__gen-link.partners__item-link(href="#" target="_blank")
                        img.partners__gen-img(src="%=static=%img/content/partner_rosgostrah.svg", alt="")
                li.partners__gen-item.partners__item
                    p.partners__gen-title.partners__item-title Официальный <br>спонсор
                    a.partners__gen-link.partners__item-link(href="#" target="_blank")
                        img.partners__gen-img(src="%=static=%img/content/partner_rosteh.svg", alt="")
                li.partners__gen-item.partners__item
                    p.partners__gen-title.partners__item-title Технический<br>партнер 
                    a.partners__gen-link.partners__item-link(href="#" target="_blank")
                        img.partners__gen-img(src="%=static=%img/content/partner_panasonic.svg", alt="")
                li.partners__gen-item.partners__item
                    p.partners__gen-title.partners__item-title Партнер<br>выставки
                    a.partners__gen-link.partners__item-link(href="#" target="_blank")
                        img.partners__gen-img.partners__gen-img--orkk(src="%=static=%img/content/partner_orkk.svg", alt="")

            ul.partners__off.partners__list
                li.partners__off-item.partners__item
                    p.partners__off-title.partners__item-title Официальный<br>телевизионный партнер
                    a.partners__off-link.partners__item-link(href="#" target="_blank")
                        img.partners__off-img(src="%=static=%img/content/partner_russia24.png", alt="")
                li.partners__off-item.partners__item
                    p.partners__off-title.partners__item-title Официальное<br>информационное<br>агентство
                    a.partners__off-link.partners__item-link.partners__item-link--center(href="#" target="_blank")
                        img.partners__off-img.partners__off-img--tass(src="%=static=%img/content/partner_tass.svg", alt="")
                li.partners__off-item.partners__item
                    p.partners__off-title.partners__item-title Генеральный<br>информационный<br> партнер
                    a.partners__off-link.partners__item-link(href="#" target="_blank")
                        img.partners__off-img(src="%=static=%img/content/partner_vs.svg", alt="")
                li.partners__off-item.partners__item
                    p.partners__off-title.partners__item-title Стратегические<br>информационные партнеры
                    a.partners__off-link.partners__item-link.partners__item-link--center(href="#" target="_blank")
                        img.partners__off-img(src="%=static=%img/content/partner_chocolate.svg", alt="")
                li.partners__off-item.partners__item
                    p.partners__off-title.partners__item-title
                    a.partners__off-link.partners__item-link.partners__item-link--center(href="#" target="_blank")
                        img.partners__off-img(src="%=static=%img/content/partner_anr.svg", alt="")
                li.partners__off-item.partners__item
                    p.partners__off-title.partners__item-title
                    a.partners__off-link.partners__item-link.partners__item-link--center(href="#" target="_blank")
                        img.partners__off-img(src="%=static=%img/content/partner_village.svg", alt="")

            ul.partners__info.partners__list
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title Информационные <br>партнеры
                    a.partners__info-link.partners__item-link(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_izvest.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_telened.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_moslenta.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_nauka.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_kot.svg", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_nplus.svg", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title Официальный<br>спонсор
                    a.partners__info-link.partners__item-link(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_vk.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title При поддержке
                    a.partners__info-link.partners__item-link(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_inter.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_archive.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_gallery.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_aran.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_cpk.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_zvezda.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_a.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_mai.svg", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_museum.svg", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_cosmo.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_energy.svg", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_energomash.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_ciolk.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_ma.svg", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="#" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_biblio.png", alt="")

