mixin section_partners
    section.partners
        .section__container.partners__container
            .partners__title
                img(src="%=static=%img/general/11.png", alt="").partners__title-img