.partners {
    margin-top: 190px;
    background-color: $white;

    &__container {
        padding: 57px 0 71px;
    }

    &__title {
        margin-top: -115px;

        &-img {
            display: block;
            width: 165px;
            height: 101px;
        }
    }
}
