work/PolyMAIL/.idea
work/PolyENG/.idea
work/Poly200/theme
*/bower_components
/bower_components
work/PolyALICE/bower_components
work/PolyALICE/.idea
work/Poly200/tars
work/Poly200/builds
work/Poly200/.babelrc
work/Poly200/.editorconfig
work/Poly200/.jscsrc
work/Poly200/.travis.yml
work/Poly200/appveyor.yml
work/Poly200/docs
work/Poly200/tars-config.js
work/Poly200/tars.json
work/PolyALICE/build
work/PolyANIMATUS/.idea
work/Poly360/.idea
work/Poly360/bower_components
work/Poly200/Poly200-backup_ver-Tue_May_17_2016_12-03-41/builds
work/hbr/tars
work/hbr/docs
work/hbr/builds
work/PolyCOSMOS/builds
*.zip
