mixin key_image
	.key-image
		img.key-image__date(src="%=static=%img/general/07.png", alt="")

		.key-image__title
			img.key-image__planet-red-big(src='%=static=%img/general/key_planet_red_big.png')
			img.key-image__planet-yellow-medium(src='%=static=%img/general/key_planet_yellow_medium.png')
			img.key-image__planet-yellow-small(src='%=static=%img/general/key_planet_yellow_small.png')
			img.key-image__planet-red-medium(src='%=static=%img/general/key_planet_red_medium.png')
			img.key-image__planet-red-small(src='%=static=%img/general/key_planet_red_small.png')
			img.key-image__cosmonaut(src='%=static=%img/general/01.png')
			img.key-image__cosmos(src='%=static=%img/general/02.png')
			img.key-image__era-born(src='%=static=%img/general/03.png')
			img.key-image__exhibition(src='%=static=%img/general/08.png')