mixin key_image
    .key-image
        img.key-image__date(src="%=static=%img/general/07.png", alt="")

        .key-image__title
            img.key-image__planet-red-big.js-key-image-parallax(src='%=static=%img/general/key_planet_red_big.png' data-speed='3')
            img.key-image__planet-yellow-medium.js-key-image-parallax(src='%=static=%img/general/key_planet_yellow_medium.png' data-speed='7')
            img.key-image__planet-yellow-small.js-key-image-parallax(src='%=static=%img/general/key_planet_yellow_small.png' data-speed='8')
            img.key-image__planet-red-medium.js-key-image-parallax(src='%=static=%img/general/key_planet_red_medium.png' data-speed='7')
            img.key-image__planet-red-small.js-key-image-parallax(src='%=static=%img/general/key_planet_red_small.png' data-speed='3')
            img.key-image__cosmonaut.js-key-image-parallax(src='%=static=%img/general/01.png' data-speed='2')
            img.key-image__cosmos(src='%=static=%img/general/02.png')
            img.key-image__era-born(src='%=static=%img/general/03.png')
            img.key-image__exhibition(src='%=static=%img/general/08.png')

            a(href="#").hashtag
                img(src="%=static=%img/general/hashtag.png", alt="")

            img(src="%=static=%img/general/location.png", alt="").location-text