mixin header
    header.header
       .header__main-image
            img(src="http://lorempixel.com/970/250/cats", alt="")

        nav.nav
            a.header__logo(href="#")
                img(src="%=static=%img/general/hbr_logo.svg", alt="")

            .nav__items
                ul.nav__action-list
                    li.nav__action-item
                        a.nav__action-link(href="#") Бизнес-завтрак HBR: 26 ноября
                    li.nav__action-item
                        a.nav__action-link(href="#") Подписка
                    li.nav__action-item
                        a.nav__action-link(href="#") Новый номер
                    li.nav__action-item
                        a.nav__action-link(href="#") Архив
                    li.nav__action-item
                        a.nav__action-link(href="#") Сборники
                    li.nav__action-item
                        a.nav__action-link(href="#") Мероприятия
                    li.nav__action-item
                        a.nav__action-link(href="#") Видео

                ul.nav__menu-list
                    li.nav__menu-item
                        a.nav__menu-link(href="#") Лидерство
                        .nav__submenu-list
                            .nav__submenu-col
                                a.nav__submenu-link(href="#") Деловые связи
                                a.nav__submenu-link(href="#") Женское лидерство
                                a.nav__submenu-link(href="#") Принятие решений
                            .nav__submenu-col
                                a.nav__submenu-link(href="#") Психология лидерства
                                a.nav__submenu-link(href="#") Эмоциональный интеллект
                            .nav__submenu-col
                                img(src="", alt="")

                    li.nav__menu-item
                        a.nav__menu-link(href="#") Управление
                    li.nav__menu-item
                        a.nav__menu-link(href="#") Бизнес и общество
                    li.nav__menu-item
                        a.nav__menu-link(href="#") Маркетинг
                    li.nav__menu-item
                        a.nav__menu-link(href="#") Личная эффективность
