mixin section_about
    section.about
        .about__container.about__title-container
            .about__title.section__container
                img(src="%=static=%img/general/09.png", alt="").about__title-img
        .about__container
            .about__content.section__container
                .about__col
                    p.about__text.about__text--bold.
                        Куратор и автор идеи: Анна Наринская <br>
                        Архитектура: Кирилл Асс, Надя Корбут <br>
                        Графический дизайн: Игорь Гурович
                    p.about__text.
                        Выставка посвящена печатной машинке как объекту и как главному техническому инструменту создания литературного текста в XX веке. Мультимедийный проект &laquo;200 ударов в минуту&raquo; — это культурологическое исследование, попытка определить значение печатной машинки для русской литературы и искусства в частности и для истории России прошлого столетия в целом.

                .about__col
                    p.about__text.
                        Зритель увидит экспонаты более чем из двадцати государственных и частных собраний, среди них — машинки Л. Н. Толстого, Б. Л. Пастернака, А. И. Солженицына и других, а также специально созданные для проекта аудио- и видеоинсталляции современных авторов — Бориса Хлебникова, Хаима Сокола, Алексея Айги.
                    p.about__text.
                        Диплом XVIII Международного фестиваля &laquo;Интермузей 2016&raquo; за &laquo;Лучший проект по презентации и интерпретации материального  и нематериального культурного наследия&raquo;.
