doctype html
html(class="no-js", lang="ru")

	include ../modules/head/head
	include ../modules/header/header
	include ../modules/key_image/key_image
	include ../modules/footer/footer

	head
		+head(head.defaults)
	body.page
		|%=symbols=%

		+header()

		.page__border
			//- .page__border--left
			//- .page__border--top
			//- .page__border--right
			//- .page__border--bottom

		section.section-main.slider-wrapper
			img.page-background__one(src='%=static=%img/general/back2.png')

			+key_image()

		.container
			img(src="%=static=%img/general/org_title.svg", alt="")
			img(src="%=static=%img/general/age_0_plus.svg", alt="")
			img(src="%=static=%img/general/org_polymus.svg", alt="")
			img(src="%=static=%img/general/org_vdnh.svg", alt="")
			img(src="%=static=%img/general/org_rosizo.png", alt="")
			img(src="%=static=%img/general/partner_rosgostrah.svg", alt="")
			img(src="%=static=%img/general/partner_science_museum.svg", alt="")
			img(src="%=static=%img/general/partner_title.svg", alt="")

		p.container.
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque in possimus natus voluptates molestias reprehenderit laboriosam ullam omnis vitae corporis praesentium, molestiae officiis quia incidunt qui distinctio soluta facilis. Vitae, numquam. Aliquid quod odit quae vero natus praesentium impedit atque totam debitis, ipsa voluptate odio. Nesciunt ipsa nihil sint quis.

		+footer()

		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')