.gallery {
    margin-top: 80px;
    padding-bottom: 220px;

    background-image: url('../img//general/back6.png');
    background-size: cover;

    @include respond-to(tablet) {
        background-size: auto 950px;
    }
    @include respond-to(phone) {
        padding-bottom: 180px;

        background-size: auto 700px;
    }
    &__container {
        position: relative;

        @include respond-to(phone) {
            padding: 0;
        }
    }
    &__title {
        width: 160px;
        height: 99px;
        margin-bottom: 45px;

        @include respond-to(phone) {
            margin-left: 20px;
        }
    }
    &__list {
        height: 620px;
    }
    &__img {
        width: 100%;
    }
    .bx-viewport {
        height: 620px !important;

        @include respond-to(tablet) {
            height: 420px !important;
        }
        @include respond-to(phone) {
            height: 200px !important;
        }
    }
    .bx-prev,
    .bx-next {
        width: 25px;
        height: 41px;

        background-repeat: no-repeat;
        background-size: contain;

        @include respond-to(phone) {
            width: 15px;
            height: 30px;
        }
    }
    .bx-prev {
        left: 40px;

        background-image: url('%=static=%general/arrow_left.svg');

        @include respond-to(phone) {
            left: 20px;
        }
    }
    .bx-next {
        right: 40px;

        background-image: url('%=static=%general/arrow_right.svg');

        @include respond-to(phone) {
            right: 20px;
        }
    }
    .bx-caption {
        display: none;
    }
    &__caption {
        font-family: $formular;
        font-size: 12px;
        line-height: 20px;

        position: absolute;
        bottom: -60px;

        width: 736px;
        min-height: 45px;

        letter-spacing: .56px;

        color: $white;

        @include respond-to(tablet) {
            width: 516px;
        }
        @include respond-to(phone) {
            position: relative;
            bottom: 0;

            width: 240px;
            margin-top: 15px;
            padding-left: 20px;
        }
    }
    .bx-pager {
        font-family: $formular;
        font-size: 12px;
        font-weight: normal;
        line-height: 20px;

        position: absolute;
        right: 0;
        bottom: -35px;

        display: inline-block;

        width: auto;
        padding: 0;

        text-align: right;

        color: $white;

        @include respond-to(phone) {
            right: 20px;
        }
    }
}
