mixin section_gallery
    section.gallery
        .section__container.gallery__container
            .gallery__title
                img(src="%=static=%img/general/photo_title.png")
            .gallery__container
                ul.gallery__list
                    li.gallery__item
                        img(src="//c1.staticflickr.com/1/389/18436756143_b6255cd24f_b.jpg" title="Эволюция, круговорот и превращения живой материи").gallery__img
                    li.gallery__item
                        img(src="//c1.staticflickr.com/1/263/17862382193_c7bd3afab2_c.jpg" title="«Внеземные весы»: узнайте свой вес на других планетах").gallery__img
                    li.gallery__item
                        img(src="//c1.staticflickr.com/1/335/19051888392_12a98e8a11_b.jpg" title="Эволюция звезд: интерактивная проекция").gallery__img
                    li.gallery__item
                        img(src="//c1.staticflickr.com/1/555/18871290849_a96d4f2c60_b.jpg" title="Дверца в чудесный сад показывает, что ждет зрителей в самом последнем зале").gallery__img

            .gallery__caption