// Common styles of the project

html,
body {
    height: 100%;
}

body {
    font-family: $formular;

    background-color: #2a2a2a;
}

.section-main {
    position: relative;
}

.page-background__one {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;
}

.page__border {
    position: fixed;
    z-index: 990;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    border: 7px solid $light-yellow;
}
