// File for scss-vars.
// For example: main colors, paddings and so on.

$phone: 320px;
$tablet: 720px;
$desktop: 1000px;
$large: 1240px;

$formular: 'formular';

$white: #fff;
$light-yellow: #fcf6d2;